<a href="<%= admin_mailouts_path %>"><%= t :send_a_mailout %></a>
<a href="<%= admin_subscription_plans_path %>"><%= t :subscription_plans %></a>
<a href="<%= admin_site_assets_path %>"><%= t :site_assets %></a>
